@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --backgroud: #f8f9fa;
  --primary-color: #a32eff;
  --primary-light: #e2bdff;
  --white-color: #fff;
  --font-color: #353535;
  --gray-color: #e5e5e5;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--backgroud);
  color: var(--font-color);
  margin: 0;
  height: 100vh;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

code {
  display: block;
  margin: 30px 0;
}

.container {
  display: grid;
  gap: 15px;
  grid-template-columns: 300px 1fr;
}

.clicable {
  cursor: pointer;
}

#navbar header {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin: 15px 30px;
}

#navbar ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

#navbar ol li {
  margin: 10px;
  background-color: var(--white-color);
  border: 1px solid var(--gray-color);
  border-radius: 7px;
  padding: 10px 15px;
}

#navbar ol li.section-active {
  box-shadow: 3px 3px 5px var(--gray-color);
}

#navbar ol li:focus,
#navbar ol li:hover {
  outline: none;
  background-color: var(--primary-light);
  color: var(--primary-color);
}

#navbar ol li:focus .section-title .step,
#navbar ol li:hover .section-title .step {
  background-color: var(--primary-color);
}

#navbar ol li:focus .section-title .title,
#navbar ol li:hover .section-title .title {
  color: var(--primary-color);
  font-weight: bold;
}

.section-title {
  display: grid;
  grid-template-columns: 35px 1fr;
  align-items: center;
  gap: 10px;
  height: 35px;
}

.section-title .step {
  background-color: var(--font-color);
  color: var(--white-color);
  border-radius: 50%;
  padding: 7px;
  font-weight: bold;
  text-align: center;
}

.section-active .step {
  background-color: var(--primary-color);
}

.section-active .title {
  font-weight: bold;
}

#main-doc {
  min-width: 400px;
  border-radius: 5px;
  background-color: var(--white-color);
  box-shadow: 0px 0px 10px var(--gray-color);
  height: calc(100% - 40px);
  margin: 20px;
  padding: 20px;
}

@media (max-width: 720px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 150px 1fr;
  }
}
